.level-0 {
  background-color: #fff2cc !important; 
}

.level-1 {
  background-color: #d9ead3 !important; 
} 

.table-container {
    overflow-x: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .responsive-table {
    min-width: 600px; 
  }

  .responsive-table .htCore {
    table-layout: auto !important; 
  }
  
  .responsive-table .htCore td {
    word-break: break-word;
    padding: 8px 12px;
    white-space: normal !important;
  }
  
  /* Column handle styling */
  .ht_master .wtHolder {
    cursor: col-resize;
  }
  
  
  .handsontable.columnResizing {
    cursor: col-resize !important;
  }


/* celdas de cabecera de fila */
.ht_clone_left .htCore th {
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  font-weight: bold;  
  width: 60px; 
  
}

/*  boton expandir/contraer */
.ht_nestingButton {
  color: #007bff;   
  cursor: pointer;
  font-size: 14px;
}

/* Contenido de los botones + / -: */
.ht_nestingButton--collapsed::before {
  content: "+";
}
.ht_nestingButton--expanded::before {
  content: "-";
}


